[submodule "vendor-bills"]
	path = vendor-bills
	url = git@git.vauxoo.com:vauxoo/vendor-bills.git
	branch = 12.0

[submodule "humanytek-team/sale_order_show_payments"]
	path = humanytek-team/sale_order_show_payments
	url = git@github.com:humanytek-team/sale_order_show_payments.git
	branch = 12.0

[submodule "humanytek-team/account_rename_partner"]
	path = humanytek-team/account_rename_partner
	url = git@github.com:humanytek-team/account_rename_partner.git
	branch = 12.0

[submodule "humanytek-team/account_third_parties"]
	path = humanytek-team/account_third_parties
	url = git@github.com:humanytek-team/account_third_parties.git
	branch = 12.0

[submodule "humanytek-team/proyect_task_log_reminder"]
	path = humanytek-team/proyect_task_log_reminder
	url = git@github.com:humanytek-team/proyect_task_log_reminder.git
	branch = master
